@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root{
    --softBlue: hsl(231, 69%, 60%);
    --softRed:hsl(0, 94%, 66%);
    --grayBlue: hsl(229, 8%, 60%);
    --veryDarkBlue: hsl(229, 31%, 21%);
}

html{
    box-sizing: border-box;
}
*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Rubik', sans-serif;
}

/* utilities */

.mobile{
    display: none;
}
.btn{
    display: block;
    background-color: white;
    padding: 0.8rem 2rem ;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 1px 5px rgba(199, 194, 194, 0.8);
    transition: all 500ms;
    text-align: center;
    text-decoration: 0;
    color: var(--veryDarkBlue);
    -webkit-box-shadow: 5px 5px 15px -1px rgba(37,43,70,0.175); 
    box-shadow: 5px 5px 15px -1px rgba(37,43,70,0.175);
}
p{
    line-height: 1.5rem;
    color: var(--grayBlue);
}
h1{
    color: var(--veryDarkBlue);
    font-size: 2rem;
}
h3,span{
    color: var(--veryDarkBlue)
}

/* utilities */


/* header - navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}
nav ul {
    list-style: none;
    display: flex;
    
}
nav ul li a{
    padding: 0 1.5rem;
    text-decoration: none;
    color: var(--veryDarkBlue);
    text-transform: uppercase;
    font-weight: 400;
    font-size: .9rem;
    letter-spacing: 2px;
}
nav ul li:last-child{
    padding-right: 0;

}
#login-nav{
    background-color: var(--softRed);
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: .8rem 1.8rem;
    -webkit-box-shadow: 5px 5px 15px -1px rgba(37,43,70,0.275); 
    box-shadow: 5px 5px 15px -1px rgba(37,43,70,0.275);
    transition: 200ms ease-in-out;
}
#login-nav:hover{
    background-color: white;
    border: 1px solid var(--softRed);
    color: var(--softRed);
}
/* header - navbar */

/* hero */

.hero {
    display: flex;
    height: 100%;
    padding: 3.5rem 2rem 2rem 6rem;
}

.hero .left{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero .left h1{
    font-size: 3rem;
    font-weight: 500;
}
.hero .left p{
    color: var(--grayBlue);
    padding-right: 1.5rem;
    margin: 1.5rem 0;
    max-width: 507px;
}
.btns{
    display: flex;
}
.btns .btn:nth-child(1){
    background-color: var(--softBlue);
    color: white;
    margin-right: 1rem;
}
.btns .btn:nth-child(2){
    opacity: 0.7;
}

.hero .right {
    position: relative;
}
.hero .right figure img {
    z-index: 2;

}
 .background-ilustration{
    position: absolute;
    width: calc(507px + 2rem);
    height: 356px;
    background-color: var(--softBlue);
    z-index: -3;
}
.hero .right .background-ilustration{

    border-bottom-left-radius: 40%;
    top: 30%;
    right: -2rem;
    z-index: -3;

}

/* hero */

/* features */

.features{
    display: grid;
    place-items: center;
    margin-top: 2rem;
}
.features .header-features{
    text-align: center;
}
.features .header-features p{
    width: 48ch;
    padding: 1.5rem 0;
    color: var(--grayBlue);
}
.features .header-features h1{
    font-weight: 500;
    color: var(--veryDarkBlue);
}
.features-tab ul{
    list-style: none;
    display: flex;
    width: 670px;
}
.features-tab ul li{
    text-align: center;
    width: 33%;
    padding: 1rem 0;
    color: var(--veryDarkBlue);
}
.features-tab ul li:nth-child(1){
    border-bottom: 3px solid var(--softRed);
}

/* features */

/* details */

.details{
    display: flex;
    padding: 3.5rem 2rem 2rem 6rem;
    margin: 1.5rem 0;

}
.details .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.details .right p{
    width: 40ch;
    color: var(--grayBlue);
    padding: 1.5rem 0;
}
.details .right h1{
    
    font-weight: 500;
    color: var(--veryDarkBlue);
}
.details .right a{
    background-color: var(--softBlue);
    color: white;
    margin-top: 0.5rem;
}
.details .left{
    flex: 1;
    position: relative;
}
.bi-2{
    height: 368px;
    top: 20%;
    left: -6rem;
    border-bottom-right-radius: 40%;
}

/* details */

/* extensions */

.extensions{
    display: grid;
    place-items: center;
    margin-top: 170px;
}
.extension-header{
    text-align: center;
}
.extension-header p{
    width: 50ch;
    padding: 1rem 0;
}
.extension-header h1{
    font-weight: 500;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    margin: 80px 0;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    margin: 0.5rem 1rem;
    -webkit-box-shadow: 3px 5px 15px 4px rgba(37,43,70,0.15); 
    box-shadow: 3px 5px 15px 4px rgba(37,43,70,0.15);
    border-radius: 5px;
}
.card figure{
    padding: 2rem 0;
}
.card img{
    padding: 1.5rem 0;
}
.card p{
    padding-top: 0.5rem ;
}
.card-container .card:nth-child(2){
    transform: translateY(35px);
}
.card-container .card:nth-child(3){
    transform: translateY(75px);
}
.card .btn{
    background-color: var(--softBlue);
    color: white;
    font-size: 0.8rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    width: 200px;
}

/* extensions */

/* FAQ */

.FAQ{
    margin: 100px 0;
    display: grid;
    place-items: center;
}
.accordion{
    max-width: 550px;
}
.faq-header {
    margin: 1.5rem 0;
    text-align: center;
}
.faq-header p{
    width: 50ch;
    padding-top: 1.5rem;
}
#faq-accordion{
    list-style: none;
    margin-bottom: 1.5rem;
}
.toggler{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    transition: all 0.3s ease-in-out;
    border-top: 1px solid hsla(229, 8%, 60%,0.3);
    padding: 1rem 0;
}
#faq-accordion:last-child{
    border-bottom: 1px solid hsla(229, 8%, 60%,0.3);
}
.toggler::after{
    content: url(images/icon-arrow.svg);
    display: inline-block;
    margin-left: auto;
    margin-right: 0.5rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
.toggler:hover{
    color: var(--text-red);
}
.toggler img{
    display: block;
}
.toggled{
    display: none;
    line-height: 1.4rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.show{
    display: block;
}
.dark{
    font-weight: 700;
}
.FAQ .btn{
    background-color: var(--softBlue);
    color: white;
    margin: 1rem 0;
}

/* FAQ */

/* sign-up */

.sign-up{
    background-color: var(--softBlue);
    height: 330px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sign-up .sign-up-header > *{
    color:white;
    text-align: center;
}
.sign-up-header p{
    padding-bottom: 2.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.sign-up-header h1{
    width: 20ch;
    font-weight: 500;
    padding-bottom: 1.7rem;
}
.sign-up-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

}
#email{
    height: 2.7rem;
    padding: 0.9rem 1rem;
    width: 250px;
    border: 2px solid transparent;
    border-radius: 3px;
}
#email:focus{
    outline: none;
}
.mail-input{
    position: relative;
    
}
.error{
    display: none;
    width: 100%;
    color: white;
    position: absolute;
    bottom: -1.5rem;
    background-color: var(--softRed);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 0.8rem;
    font-style: italic;
    padding-left: 0.9rem;
}
.sign-btn{
    margin-left: 1rem;
    background-color: var(--softRed);
    color: white;
}

/* sign-up */

/* footer */

footer{
    background-color: var(--veryDarkBlue);
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem; 
    
}

footer .left{
    display: flex;
    align-items: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}
footer .left nav ul {
    padding-left: 1rem;
}
footer .left nav ul li{
    padding: 0 1.5rem;
    font-weight: 400;
}
.social-media-icons ul{
    list-style: none;
    display: flex;
    
}
.social-media-icons ul li{
    padding: 0 1rem;
    
}

.social-media-icons ul li a i {
    transition: 300ms ease;
    color: white;
  }
  
  .fa-twitter-square:hover {
    color: hsl(210, 82%, 64%);
  }
  .fa-facebook-square:hover {
    color: hsl(210, 87%, 49%);
  }



/* footer */
